.appinputwithsearch-container {
  .ant-input-wrapper,
  .ant-input,
  .ant-btn {
    height: 44px;
    z-index: 999;
  }
  .ant-input-wrapper {
    left: -16px;
  }
  .ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    border-radius: 8px;
    left: -16px;
  }
  .ant-input-group-addon {
    background: transparent;
  }
  .ant-input-wrapper > input {
    background: #f4f4f4;
    border: 0px;
    padding-left: 23px;
  }
}
