.layout-container {
      .header-container {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            width: 100%;
            height: 64px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            z-index: 1000;
            .header-mobile {
                  width: 100%;
                  height: 54px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding-left: 20px;
                  padding-right: 20px;
                  @include fromMediumDesktop {
                        display: none;
                  }
            }
            .header-main {
                  display: none;
                  width: 1204px;
                  height: 100%;
                  @include fromMediumDesktop {
                        display: flex;
                  }
                  align-items: center;
                  justify-content: space-between;
                  .header-left {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        height: 100%;
                        .header-logo {
                              height: 100%;
                              display: flex;
                              align-items: center;
                              justify-content: flex-start;
                              margin-top: 6px;
                        }
                        .search-holder {
                              width: 370px;
                              margin-left: 54px;
                              // input placeholder color
                              .ant-input::placeholder {
                                    font-family: "Poppins";
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 16px;
                                    /* identical to box height, or 100% */

                                    text-transform: capitalize;

                                    color: #828282;
                              }
                        }
                  }
                  .header-right {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        height: 100%;
                  }
            }
      }
      .footer {
            max-width: 100%;
            height: 150px;
            background: white;
            margin: 0 auto;
            margin-top: 60px;
            padding-top: 60px;
            @include fromMediumDesktop {
                  height: 396px;
            }
            .short-footer {
                  visibility: visible;
                  margin-left: 20px;
                  @include fromMediumDesktop {
                        visibility: hidden;
                  }
            }
            .footer-inner {
                  visibility: hidden;
                  @include fromMediumDesktop {
                        visibility: visible;
                        @include displayItems(flex, flex-start, flex-start, row);
                        width: 1204px;
                        margin: 0 auto;
                  }
                  .first-column {
                        @include displayItems(flex, flex-start, flex-start, column);
                        height: 100%;
                        width: 219px;
                  }
                  .second-column {
                        @include displayItems(flex, flex-start, flex-start, column);
                        height: 100%;
                        margin-left: 95px;
                        width: 340px;
                        .row-one,
                        .row-two {
                              @include displayItems(flex, flex-start, flex-start, row);
                              .title {
                                    font-family: "Poppins";
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 22px;
                                    letter-spacing: -0.015em;
                                    color: #000000;
                              }
                              .subtitle {
                                    font-family: "Poppins";
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 27px;
                                    letter-spacing: -0.015em;
                                    color: #000000;
                                    margin-top: 4px;
                              }
                        }
                        .row-two {
                              margin-top: 38px;
                        }
                  }
                  .third-column {
                        margin-left: 168px;
                        @include displayItems(flex, flex-start, space-between, row);
                        .column-one {
                              width: 131px;
                              @include displayItems(flex, flex-start, flex-start, column);
                              margin-bottom: 16px;
                              font-family: "Poppins";
                              font-style: normal;
                              font-weight: 500;
                              font-size: 14px;
                              line-height: 21px;
                              letter-spacing: -0.015em;
                              color: #000000;
                              opacity: 0.65;
                              & > div {
                                    margin-bottom: 16px;
                              }
                        }
                        .column-two {
                              width: 231px;
                              @include displayItems(flex, flex-start, flex-start, column);
                              margin-bottom: 32px;
                              margin-left: 53px;
                              font-family: "Poppins";
                              font-style: normal;
                              font-weight: 500;
                              font-size: 14px;
                              line-height: 21px;
                              letter-spacing: -0.015em;
                              color: #000000;
                              opacity: 0.65;
                              & > div {
                                    margin-bottom: 16px;
                              }
                        }
                  }
            }
      }
}
